@charset "UTF-8";

:root{
  --cor1:   #990099;
  --cor2:   #ffee00;
  --cor2-2: #ffee33;
}

::selection {
  color: aquamarine;
  background: #990099ab;
}

*{
  font-family: 'Courier New', Courier, monospace;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

header{
  background-color: var(--cor1);
  background-image: linear-gradient(to bottom, #600060,rgba(0, 0, 0, 0.693) 60%);
  color: var(--cor2);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 30px 0px 0px 0px;
  border-bottom: 3px solid var(--cor2);
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.666);
  text-shadow: 3px 3px 3px black;
}

.titulo-1{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 250px;
  padding: 30px;
}

.iden{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.titulo-1 h1{
  font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 3.9em;
}

.titulo-1 p{
  font-size: 1.2em;
}

.menu{
  background-color: rgba(0, 0, 0, 0.2);
  padding: 30px 0px;
  box-shadow:inset 0px 0px 9px 2px rgba(0, 0, 0, 0.405);
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 60px;
  width: 100%;
}

.menu a{
  font-size: 1.2em;
  color: #ffee00;
  transition: .2s;
}

.menu a:hover{
  color: white;
  text-decoration: underline;
}


article{
  line-height: 2em;
  padding: 15px;
  margin: 20px;
}

article h1{
  font-size: 1.8em;
  padding-bottom: 15px;
  color: #630063;
}

article p{
  padding-bottom: 15px;
  text-align: justify;
  font-size: 1.2em;
}

span{
  background-color: #ffee00;
}

footer{
  background-color: var(--cor1);
  background-image: linear-gradient(to bottom, #700070 50%,rgba(0, 0, 0, 0.693));
  color: var(--cor2);
  padding: 12px;
  text-align: center;
  box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.450);
  border-top: 3px  solid var(--cor2);
}