@charset "UTF-8";

:root{
  --cor1: #2e5266;
  --cor2: #6e8898;
  --cor3: #9fb1b6;
  --cor4: #d3d0cb;
  --cor5: #e2c044;
}

::selection {
  color: aquamarine;
  background: #6e8898c6;
} 

*{
  font-family: 'Courier New', Courier, monospace;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

header{
  background-color: var(--cor1);
  background-image: linear-gradient(to bottom, #2e5266,rgba(0, 0, 0, 0.693) 60%);
  color: var(--cor5);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 30px 0px 0px 0px;
  border-bottom: 3px solid var(--cor2);
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.666);
  text-shadow: 3px 3px 3px black;
}

.titulo-1{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 250px;
  padding: 30px;
}

.iden{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.titulo-1 h1{
  font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 3.9em;
}

.titulo-1 p{
  font-size: 1.2em;
}

.menu{
  background-color: rgba(0, 0, 0, 0.2);
  padding: 30px 0px;
  box-shadow:inset 0px 0px 9px 2px rgba(0, 0, 0, 0.405);
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 60px;
  width: 100%;
}

.menu a{
  font-size: 1.2em;
  color: var(--cor5);
  transition: .2s;
}

.menu a:hover{
  color: white;
  text-decoration: underline;
}

main{
  margin: auto;
  width: 90%;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.556);
  padding-top: 30px;
}

article{
  line-height: 2em;
  padding: 15px;
  margin: 20px;
}

article h1{
  font-size: 1.8em;
  padding-bottom: 15px;
  color: var(--cor1);
}

article p{
  text-align: justify;
  font-size: 1.2em;
  line-height: 1.9em;
}

article .alerta{
  background-color: #e2c044e7;
  padding: 15px;
  font-size: 1.5em;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.707);
  margin: 15px 0px;
}

.alerta p{
  text-align: center;
  font-weight: bolder;
}

article ul{
  list-style-position: inside;
  line-height: 3em;
}

.bloco1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

div.b1, div.b2{
  background-color: #9fb1b62c;
  padding: 15px 30px;
}

.b1{
  width: 500px;
}
.b2{
  width: 300px;
}

h3{
  font-size: 1.5em;
}

footer{
  background-color: var(--cor1);
  background-image: linear-gradient(to bottom, #2e5266 50%,rgba(0, 0, 0, 0.693));
  color: var(--cor5);
  padding: 12px;
  text-align: center;
  box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.450);
  border-top: 3px  solid var(--cor2);
  font-weight: bolder;
}