@charset "UTF-8";

:root{
  --cor1:   #990099;
  --cor2:   #ffee00;
  --cor2-2: #ffee33;
}

*{
  font-family: 'Courier New', Courier, monospace;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

header{
  background-color: var(--cor1);
  background-image: linear-gradient(to bottom, var(--cor1),rgba(0, 0, 0, 0.57) 60%);
  color: #ffee00;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 51px 0px 0px 0px;
  border-bottom: 3px solid #ffee00;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.666);
}

.titulo-1{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.titulo-1 h1{
  font-size: 3em;
}

.titulo-1 p{
  font-size: 1.2em;
}

.menu{
  background-color: rgba(0, 0, 0, 0.2);
  padding: 30px 0px;
  box-shadow:inset 0px 0px 9px rgba(0, 0, 0, 0.535);
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 60px;
  width: 100%;
}

.menu a{
  color: #ffee00;
}

.menu a:hover{
  color: white;
}


article{
  line-height: 2em;
  padding: 15px;
  margin: 20px;
}

article h1{
  font-size: 1.5em;
  padding-bottom: 15px;
  color: #630063;
}

article p{
  padding-bottom: 15px;
  text-align: justify;
}

span{
  background-color: #ffee00;
}